@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* SignUp.css  */
.sign-up-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* height 100 vh from the top*/
}

.sign-up-form{
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10-x rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px; /* Space between the form values*/
}

input{
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button{
  width: 100%; /* Width of box */
  padding: 10px; /* Thickness of box*/
  background-color: #3498db;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}